fastapi
uvicorn
python-multipart
pydantic
torch
opencv-python
numpy
markdown
fpdf2
langchain-huggingface
langchain-chroma
langchain-ollama
ollama
pdf2image
Pillow
sentence-transformers
TTS
langchain
langchain-text-splitters
python-docx
python-pptx
